---

- name: Ensure dependencies packages are present
  ansible.builtin.package:
    name:
      - git
      - python3
      - python3-packaging
      - python3-pip
      - python3-virtualenv
    state: present

- name: Ensure hashlookup user exists
  ansible.builtin.user:
    name: "{{ hashlookupserver_user }}"
    home: "{{ hashlookupserver_home }}"
    system: true

- name: Git clone hashlookup-server
  ansible.builtin.git:
    repo: https://github.com/adulau/hashlookup-server.git
    dest: "{{ hashlookupserver_root }}"
    version: "{{ hashlookupserver_version }}"
    update: no
  become: yes
  become_user: "{{ hashlookupserver_user }}"

- name: Install pip dependencies
  ansible.builtin.pip:
    requirements: "{{ hashlookupserver_root }}/requirements.txt"
    virtualenv: "{{ hashlookupserver_virtualenv }}"
    virtualenv_python: "{{ python3_bin }}"
  register: pkg_result
  until: pkg_result is success
  become: yes
  become_user: "{{ hashlookupserver_user }}"

- name: Ensure kvrocks path is correct
  ansible.builtin.replace:
    path: "{{ hashlookupserver_root }}/bin/run.sh"
    regexp: "^(.*) -c (.*)$"
    replace: "{{ kvrocks_bin }} -c {{ hashlookupserver_etc }}/kvrocks.conf"
    mode: '0755'

- name: Configure kvrocks
  ansible.builtin.template:
    src: kvrocks.conf.j2
    dest: "{{ hashlookupserver_etc }}/kvrocks.conf"
    mode: '0644'
  notify:
    - Restart kvrocks

- name: Set hashlookup-server binding host and etc path
  ansible.builtin.replace:
    path: "{{ hashlookupserver_root }}/bin/server.py"
    regexp: "{{ item.re }}"
    replace: "{{ item.rep }}"
    mode: '0755'
  loop:
    - { re: "host='(.*)'.$",
        rep: "host='{{ hashlookupserver_host }}')"
    }
    - { re: "^config.read.'(.*)'.$",
        rep: "config.read('{{ hashlookupserver_etc }}/server.conf')"
    }
  notify:
    - Restart hashlookup-server

- name: Configure hashlookup-server
  ansible.builtin.template:
    src: server.conf.j2
    dest: "{{ hashlookupserver_etc }}/server.conf"
    mode: '0644'
  notify:
    - Restart hashlookup-server

- name: Ensure import.py NSRL path is correct
  ansible.builtin.replace:
    path: "{{ hashlookupserver_root }}/bin/import.py"
    regexp: "'(.*)', 'r'"
    replace: "'{{ install_archives }}/rds_modernm/NSRLFile.txt', 'r'"
    mode: '0755'
