---
# tasks file for juju4.hashlookupserver

- name: Include version-specific variables for Ubuntu.
  ansible.builtin.include_vars: "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
  when: ansible_facts['distribution'] == 'Ubuntu'
- name: Include version-specific variables for Debian.
  ansible.builtin.include_vars: "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
  when: ansible_facts['distribution'] == 'Debian'
- name: Include version-specific variables for RedHat
  ansible.builtin.include_vars: "RedHat-{{ ansible_facts['distribution_major_version'] }}.yml"
  when: ansible_facts['os_family'] == "RedHat"
- name: Include version-specific variables for Alpine
  ansible.builtin.include_vars: "Alpine.yml"
  when: ansible_facts['os_family'] == "Alpine"

- name: Import hashlookup-server
  ansible.builtin.import_tasks: hashlookup-server.yml

- name: Import systemd
  ansible.builtin.import_tasks: systemd.yml
  when: >
    ansible_facts['service_mgr'] == 'systemd' and
    not (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd")
    )

- name: Import nsrl
  ansible.builtin.import_tasks: nsrl.yml
  when:
    - hashlookupserver_nsrl_download

- name: Import nginx
  ansible.builtin.import_tasks: nginx.yml
  when: hashlookupserver_nginx_enable
