---

- name: Download NSRL file
  ansible.builtin.get_url:
    url: "{{ hashlookupserver_nsrl_url }}"
    dest: "{{ install_archives }}"
    mode: '0644'

- name: Ensure unzip is present
  ansible.builtin.package:
    name: unzip
    state: present

- name: Uncompress NSRL file
  ansible.builtin.unarchive:
    src: "{{ install_archives }}/{{ hashlookupserver_nsrl_url | basename }}"
    dest: "{{ install_archives }}"
    mode: '0755'
    remote_src: true
    creates: "{{ install_archives }}/{{ hashlookupserver_nsrl_test }}"

- name: Check if NSRL import marker is present
  ansible.builtin.stat:
    path: "{{ hashlookupserver_home }}/.nsrl-import-done"
  register: nsrl_mark
- name: Import
  when: >
    not nsrl_mark.stat.exists and hashlookupserver_nsrl_import and
    ansible_facts['service_mgr'] == 'systemd' and
    not (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd")
    )
  block:
    - name: Ensure hashlookupserver port is opened
      ansible.builtin.wait_for:
        port: 5000
        timeout: 60

    - name: Import NSRL file into hashlookup-server  # noqa no-changed-when
      ansible.builtin.command:
        cmd: "{{ hashlookupserver_virtualenv }}/bin/python {{ hashlookupserver_root }}/bin/import.py"
      async: 3600
      poll: 0
      register: importnsrl

    - name: Check on async task for import NSRL
      ansible.builtin.async_status:  # noqa no-handler
        jid: "{{ importnsrl.ansible_job_id }}"
      register: job_result
      until: job_result.finished or importnsrl.finished
      retries: 90
      delay: 60
      when: importnsrl is changed

    - name: Add NSRL import marker
      ansible.builtin.file:
        path: "{{ hashlookupserver_home }}/.nsrl-import-done"
        state: touch
        mode: '0600'
