---

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  when: >
    not (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd")
    )

- name: Restart kvrocks
  ansible.builtin.service:
    name: kvrocks
    state: restarted
  when: >
    not (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd")
    )

- name: Restart hashlookup-server
  ansible.builtin.service:
    name: hashlookupserver
    state: restarted
  when: >
    not (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd")
    )

- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
  when: >
    not (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd")
    )
